<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/css/teacher/firstyear.css">
    <title>Document</title>
</head>

<body>
    <header>
        <h1>First Year</h1>
    </header>
    <div class="outercontainer">
        <div class="student">
            <h1>Students</h1>
            <ul>
                <% student.forEach((data)=> { %>
                    <li>
                                <h2>
                                    <%= data.fullname%> <span>( <%= data.rollno%> )</span>
                                </h2>
                        <p>
                            <span>
                               email: <%= data.gmail%>
                            </span>
                            <span>
                               | Mob.: 
                                <%= data.mobilenum%>
                            </span>
                        </p>
                    </li>
                    <%}) %>
            </ul>
        </div>
        <div class="curriculum">
            <h2>Curriculum</h2>
            <% curriculum.forEach((data)=> { %>
                <ul>
                    <% data.papers.forEach((paper)=> {%>
                        <li class="card">
                            <a href="/teacher/firstyear/<%= paper._id %>">
                                <h3><%= paper.paperName %></h3>
                                <span> <%= paper.paperCode %></span>
                                <span>
                                    <%= data.semester%>
                                </span>
                                </a>
                            </li>

                        <% })%>
                </ul>

                <%}) %>
        </div>
    </div>
</body>

</html>