<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <div class="outercontainer">
        <div class="student">

        </div>
        <div class="curriculum">
            <% firstcurriculum.array.forEach((data)=> { %>
                <%= data.department%>
                <%= data.semester%>
                <%= data.papers.array.forEach((paper)=> {%>
                    <%= papers.paperName %>
                    <%= papers.paperCode %>
                <% })%>

            <%}); %>
        </div>
    </div>
</body>

</html>