<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/css/teacher/home.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/7.0.0/css/all.min.css"
        integrity="sha512-DxV+EoADOkOygM4IR9yXP8Sb2qwgidEmeqAEmDKIOfPRQZOWbXCzLC6vjbZyy0vPisbH2SyW27+ddLVCN+OMzQ=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />
    
</head>

<body>

        <!-- Sidebar -->
        <div class="sidebar">
            <div class="account">
                <div class="avatar">
                    <i class="fa-solid fa-user-tie"></i>
                </div>
                <span> <%= info.designation %>,<%= info.department %></span>
            </div>
            <div class="sidebar-box">
                <ul>
                    <li><a href="/teacher/<%= info.id %>/facultymembers">Facutly Members</a></li>
                    <% let url = null; %>
                    <% if(routine != null){ %>
                        <% url = routine.url %>
                    <% } %>
                    <li><a href=<%= url %> download>Routine</a>
                        <form action="/uploads/routine/<%= info.department %>" method="post" enctype="multipart/form-data">
                            <label for="routine">Upload new</label>
                            <input type="file" name="routine" id="routine">
                            <button type="submit">Upload</button>
                        </form>
                    </li>
                    <li><a href="/teacher/<%= info.id %>/students">Students</a></li>
                    <li><a href="/teacher/<%= info.id %>/analysis">Stastical Analysis</a></li>
                    <li><a href="/teacher/<%= info.id %>/info">Info</a></li>
                    <li><a href="/">log out <i class="fa-solid fa-arrow-right-from-bracket"></i></a></li>
                </ul>
            </div>
        </div>

        <!-- Main content -->
        <div class="main">
            <div class="header">
                <h1>Welcome back, <%= info.fullname %></h1>
                <img src="/asset/teacher.png" alt="">
            </div>
            <div class="content-grid">
                <div class="left-column">
                    <div class="notice">
                        <ol>
                            <% Notice.forEach((notice)=> { %>
                                <li>
                                   <a href=<%=notice.url %>  download><%= notice.title %></a>
                                    <% console.log(notice.url ) %>
                                    <span>
                                        <%= notice.date %>
                                    </span>
                                </li>
                                <% }) %>
                        </ol>

                        <hr>
                        <form action="/uploads/notice" method="post" enctype="multipart/form-data">
                            <input type="file" name="notice" />
                            <label for="title">Title </label>
                            <input type="text" id="title" name="title">
                            <button type="submit">Add</button>
                        </form>
                        
                    </div>
                </div>
                <div class="right-column">
                    <h2>Classes</h2>
                    <div class="classrooms">
                        <ul>
                            <li>
                                <a class="card" href="/teacher/<%= info.id %>/1">
                                    <div id="firstyear" class="year">First Year</div>
                                </a>
                            </li>
                            <li>
                                <a class="card" href="/teacher/<%= info.id %>/2">
                                    <div id="secondyear" class="year">Second Year</div>
                                </a>
                            </li>
                            <li>
                                <a class="card" href="/teacher/<%= info.id %>/3">
                                    <div id="thirdyear" class="year">Third Year</div>
                                </a>
                            </li>
                            <li>
                                <a class="card" href="/teacher/<%= info.id %>/4">
                                    <div id="fourthyear" class="year">Fourth Year</div>
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>

</body>