<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/7.0.0/css/all.min.css"
        integrity="sha512-DxV+EoADOkOygM4IR9yXP8Sb2qwgidEmeqAEmDKIOfPRQZOWbXCzLC6vjbZyy0vPisbH2SyW27+ddLVCN+OMzQ=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />
    <style>
        * {
            padding: 0;
            margin: 0;
            box-sizing: border-box;
        }

        body {
            display: flex;
            /* background-color: yellow; */
            flex-direction: column;
            justify-content: center;
            align-items: center;

        }

        .welcome {
            /* background-color: green; */
            height: 10vh;
            width: 85%;
            position: relative;
            top: 4vh;
            border: 2px solid black;

        }

        .maincontainer {
            /* background-color: red; */
            height: 72vh;
            width: 95vw;
            position: relative;
            top: 13vh;
            border: 2px solid black;
            display: flex;
        }

        .slidebar {
            background-color: skyblue;
            height: 100%;
            width: 17%
        }

        .yearscontainer {
            background-color: lightcoral;
            height: 100%;
            width: 28%;
            display: flex;
            flex-direction: column;
            align-items: center;

        }

        .noticeandpi {
            background-color: lightgreen;
            height: 100%;
            width: 55%
        }

        .year {
            background-color: rgb(233, 247, 78);
            width: 6rem;
            text-align: center;
            height: 4rem;
            border: 2px solid black;
        }

    </style>
</head>

<body>
    <div class="welcome">
        <h1><%= info.id %></h1>
    </div>
    <div class="maincontainer">
        <div class="slidebar">
            <a href="/teacher/<%= info.id %>/facultymembers">Facutly Members</a>
            <a href="/teacher/<%= info.id %>/routine">Routine</a>
            <a href="/teacher/<%= info.id %>/students">Students</a>
            <a href="/teacher/<%= info.id %>/analysis">Stastical Analysis</a>
            <a href="/teacher/<%= info.id %>/info">Info</a>
        </div>

        <div class="noticeandpi">

        </div>

        <div class="yearscontainer">
            <a href="/teacher/<%= info.id %>/firstyear"><div id="firstyear" class="year">First Year</div></a>
            <a href="/teacher/<%= info.id %>/secondyear"><div id="secondyear" class="year">Second Year</div></a>
            <a href="/teacher/<%= info.id %>/thirdyear"><div id="thirdyear" class="year">Third Year</div></a>
            <a href="/teacher/<%= info.id %>/fourthyear"><div id="fourthyear" class="year">Fourth Year</div></a>

        </div>
    </div>

</body>