<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div class="student">
        <% student.forEach((data)=> { %> 
            <p><%= data.fullname%></p>
            <p><%= data.year%></p>
            <p><%= data.gmail%></p>
            <p><%= data.mobilenum%></p>
            <p><%= data.department%></p>
            <p><%= data.rollno%></p>
            <hr>
        <%}) %>
    </div>  
    <%= paper.paperName %>
    <%= paper.paperCode %>
<hr>
    <ul>
        <% annoucement.forEach((a)=> { %>
            <li><a href=<%=a.url %> download><%=a.title %></a>
                <% console.log(a.url) %>
            <% }) %></li>
    </ul>
    <form action="/uploads/annoucement/<%=y %>/<%=paper._id%>" method="post" enctype="multipart/form-data">
        <input type="file" name="annoucement" />
        <label for="title">Enter your Annoucement</label>
        <input type="text" id="title" name="title">
        <button type="submit">Upload</button>
    </form>

</body>
</html>