<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Document</title>
  <style>
    .hide {
      display: none;
    }
  </style>
</head>

<body>
  <%= paper.paperName %>
    <%= paper.paperCode %>
      <hr />

      <div class="student">
        <% student.forEach((data, index)=> { %>
          <p>
            <%= data.fullname %>
          </p>
          <p>
            <%= data.year %>
          </p>
          <p>
            <%= data.gmail %>
          </p>
          <p>
            <%= data.mobilenum %>
          </p>
          <p>
            <%= data.department %>
          </p>
          <p>
            <%= data.rollno %>
          </p>

          <div class="marks">
            <% marks.forEach((mark)=> { %> <% if (mark.rollno==data.rollno) { %>
                <p>
                  <%= mark.ca1 %>
                </p>
                <p>
                  <%= mark.ca2 %>
                </p>
                <p>
                  <%= mark.final %>
                </p>

                <% if (mark.ca1 && mark.ca2 && mark.final) { %>
                  <% let total = 5 + parseInt(mark.ca1) + parseInt(mark.ca2) + parseInt(mark.final); %>
                  <p><%= total %></p>
                    <% if (total>= 90) { %>
                      <p>O</p>
                      <% } else if (total>= 80) { %>
                        <p>E</p>
                        <% } else if (total>= 70) { %>
                          <p>A</p>
                          <% } else if (total>= 60) { %>
                            <p>B</p>
                            <% } else if (total>= 50) { %>
                              <p>C</p>
                              <% } else if (total>= 40) { %>
                                <p>D</p>
                                <% } else { %>
                                  <p>F</p>
                                  <% } %>
                                  <hr>
                                    <% } %>
                                      <% } %>
                                        <% }) %>
          </div>

          <hr />
          <button class="addmark">Add Marks</button>

          <form action="/teacher/marks/<%= data.rollno %>/<%= paper.paperName %>/<%= paper._id %>" method="post"
            class="hide odd" id="form-<%= index %>">
            <label for="ca1">CA1</label>
            <input type="number" id="ca1" name="ca1" />
            <label for="ca2">CA2</label>
            <input type="number" id="ca2" name="ca2" />
            <label for="final">Final Exam</label>
            <input type="number" id="final" name="final" />
            <button>add</button>
          </form>
          <hr />
          <% }) %>
      </div>

      <ul>
        <% annoucement.forEach((a)=> { %>
          <li>
            <a href="<%=a.url %>" download>
              <%=a.title %>
            </a>
          </li>
          <% }) %>
      </ul>

      <form action="/uploads/annoucement/<%=y %>/<%=paper._id%>" method="post" enctype="multipart/form-data">
        <input type="file" name="annoucement" />
        <label for="title">Enter your Announcement</label>
        <input type="text" id="title" name="title" />
        <button type="submit">Upload</button>
      </form>

      <script>
        let buttons = document.querySelectorAll(".addmark");

        buttons.forEach((btn, index) => {
          btn.addEventListener("click", () => {
            let form = document.querySelector(`#form-${index}`);
            form.classList.remove("hide");
            btn.classList.add("hide");
          });
        });
      </script>
</body>

</html>