<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
</head>

<body>
    <div class="outercontainer">
        <div class="student">
            <% student.forEach((data)=> { %>
                <p>
                    <%= data.fullname%>
                </p>
                <p>
                    <%= data.year%>
                </p>
                <p>
                    <%= data.gmail%>
                </p>
                <p>
                    <%= data.mobilenum%>
                </p>
                <p>
                    <%= data.department%>
                </p>
                <p>
                    <%= data.rollno%>
                </p>
                <hr>
                <%}) %>
        </div>
        <div class="curriculum">
            <% curriculum.forEach((data)=> { %>
                <p>
                    <%= data.department%>
                </p>
                <p>
                    <%= data.semester%>
                </p>
                <ul>
                    <% data.papers.forEach((paper)=> {%>
                        <a href="/teacher/secondyear/<%= paper._id %>">
                            <li>
                                <%= paper.paperName %>
                                    <%= paper.paperCode %>
                            </li>

                        </a>
                        <% })%>
                            <hr>
                </ul>

                <%}) %>
        </div>
    </div>
</body>

</html>