<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <ul>
        <li><%= teacher.fullname %></li>
        <li><%= teacher.designation %></li>
        <li><%= teacher.gmail %></li>
        <li><%= teacher.mobilenum %></li>
        <li><%= teacher.department %></li>
    </ul>
</body>
</html>