<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/css/teacher/year.css">
    <title>Document</title>
</head>
<style>
    .hide {
        display: none;
    }
</style>

<body>
    <header>
        <% 
            let year;
            if(student[0].year == 1) year = 'First';
            else if(student[0].year == 2) year = 'Second';
            else if(student[0].year == 3) year = 'Third';
            else year = 'Fourth';
        %>



        <h1><%= year %> Year</h1>
    </header>
    <div class="outercontainer">
        <div class="student">
            <h1>Students</h1>
            <ul>
                <% student.forEach((data)=> { %> 
                    <li>
                        <h2><%= data.fullname%> ( <%= data.rollno%> )</h2>
                        <p></p>
                        <p>Year: <%= data.year%></p>
                        <p>emial: <%= data.gmail%></p>
                        <p>Phone no.: <%= data.mobilenum%></p>
                    </li>
                <%}) %>
            </ul>
        </div>
        <div class="curriculum">
            <h2>Curriculum</h2>
            <ul>
                <% curriculum.forEach((data)=> { %> 
                        <% data.papers.forEach((paper)=> {%> 
                            <% let year=Math.floor((data.semester+1)/2) %>
                                <a href="/teacher/year/<%= year %>/<%= paper._id %>" class="card">
                                <li >
                                <p><%= data.semester%> semester</p>
                                <%= paper.paperName %>
                                <%= paper.paperCode %>
                                </li>
                            </a>
                            
                    <% })%>
                    
                <%}) %>
            </ul>
        </div>
    </div>
</body>

</html>