<%- include('../includes/header0') %>
<%- include('../includes/header') %>
<style>
    .mainnotice {
        padding-top: 15vh;
        padding-left: 1rem;
    }
</style>
<div class="mainnotice">
    <ol>
        <% notices.forEach((notice)=> { %>
            <li>
                <a href=<%=notice.url %> download> : <%=notice.title%></a>
                <br><br>
                <p>
                    <%= notice.date %>
                </p>

            </li>
            <hr>
            <% }) %>
    </ol>
</div>