<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <%- include('../includes/header0') %>
    <%- include('../includes/student/navbar') %>
    <div class="home">
        <%- include('../includes/student/navbar') %>
    </div>
    <h1>Hello</h1>
    <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Odit aliquam exercitationem amet aliquid, nesciunt cum nihil quaerat recusandae beatae iure laborum excepturi ullam. Facere, libero beatae magni aliquid laborum animi id odio, aperiam unde illo natus modi possimus reprehenderit iusto quae consectetur sint. Harum, alias fuga rerum eum voluptas autem, aliquid itaque similique placeat optio modi et sit quibusdam, quasi ullam excepturi quod consectetur quae voluptatibus tempora consequatur at. Vitae, laudantium! Quae similique cupiditate dignissimos illo rerum quas unde inventore nisi. Sed optio fuga ipsum quisquam aliquid nostrum laborum, minus ipsam repudiandae quis, voluptatibus quae nulla quos ratione, veniam nam.</p>
    <h1>Hello</h1>
    <ul>
    <% curriculum.papers.forEach(paper => { %>
      <li>
        <strong><%= paper.paperCode %></strong> - <%= paper.paperName %>
      </li>
    <% }) %>
  </ul>

</body>
</html>